# ASP.NET Core Environment
ASPNETCORE_ENVIRONMENT=Development

# PostgreSQL Credentials
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=SuperShopDb

# RabbitMQ Credentials
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

# Docker Configuration
DOCKER_REGISTRY=
